#top-nav{
    height: 85px;
    ul a{
            padding: 10px 10px;
    }
}
#sobre{
    h2,h5{
        font-weight: 100;
    }
}
#servicos{
    h1, h2,h5{
        font-weight: 100;
        
    }
}
#cliente{
    h1, h2,h5{
        font-weight: 100;
        
    }
}
